<ion-header>
  <ion-toolbar>
    <ion-title>A Bela e a Fera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="http://complemento.veja.abril.com.br/entretenimento/a-bela-e-a-fera/images/abre.jpg">

  <ion-item>
    <p>Aprovação dos usuários</p>
    <ion-chip slot="end" color="success">70%</ion-chip>
  </ion-item>

  <ion-item>
      <p>Moradora de uma pequena aldeia francesa, Bela tem o pai capturado pela Fera e decide entregar sua vida ao estranho ser em troca da liberdade do progenitor. No castelo ela conhece objetos mágicos e descobre que a Fera é na verdade um príncipe que precisa de amor para voltar à forma humana.</p>
  </ion-item>

</ion-content>
