<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> VideosApp </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-item routerLink="/a-bela-e-a-fera">
      <ion-thumbnail slot="start">
        <img
          src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/is4c02QuP70BCVLp27SSlDeByoe.jpg"
        />
      </ion-thumbnail>
      <ion-label>
        <h1>A Bela e a Fera</h1>
        <p>22/11/1991</p>

        <ion-chip color="success">
          <ion-label color="success">Romance</ion-label>
        </ion-chip>

        <ion-chip color="success">
          <ion-label color="success">Família</ion-label>
        </ion-chip>

        <ion-chip color="success">
          <ion-label color="success">Animação</ion-label>
        </ion-chip>
      </ion-label>
    </ion-item>
  </ion-item>

  <ion-item>
    <ion-item routerLink="/thor">
      <ion-thumbnail slot="start">
        <img
          src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/71XnRvkadkWZZowCGcuBi4XAKdJ.jpg"
        />
      </ion-thumbnail>
      <ion-label>
        <h1>Thor: Amor e Trovão</h1>
        <p>08/07/2022</p>

        <ion-chip color="success">
          <ion-label color="success">Fantasia</ion-label>
        </ion-chip>

        <ion-chip color="success">
          <ion-label color="success">Ação</ion-label>
        </ion-chip>

        <ion-chip color="success">
          <ion-label color="success">Comédia</ion-label>
        </ion-chip>
      </ion-label>
    </ion-item>
  </ion-item>

  <ion-item>
    <ion-item routerLink="/minions">
      <ion-thumbnail slot="start">
        <img
          src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/iTP3mMw0AoqmScYzDoMmYeKxYe.jpg"
        />
      </ion-thumbnail>
      <ion-label>
        <h1>Minions 2: A Origem de Gru</h1>
        <p>30/06/2022</p>

        <ion-chip color="success">
          <ion-label color="success">Fantasia</ion-label>
        </ion-chip>

        <ion-chip color="success">
          <ion-label color="success">Animação</ion-label>
        </ion-chip>

        <ion-chip color="success">
          <ion-label color="success">Comédia</ion-label>
        </ion-chip>
      </ion-label>
    </ion-item>
  </ion-item>

  <ion-item>
    <ion-item routerLink="/cinderela">
      <ion-thumbnail slot="start">
        <img
          src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/Acj5mmoZQ5lKLNpU2y0XQCt5rNb.jpg"
        />
      </ion-thumbnail>
      <ion-label>
        <h1>Cinderela</h1>
        <p>22/05/1950</p>

        <ion-chip color="success">
          <ion-label color="success">Fantasia</ion-label>
        </ion-chip>

        <ion-chip color="success">
          <ion-label color="success">Animação</ion-label>
        </ion-chip>

        <ion-chip color="success">
          <ion-label color="success">Romance</ion-label>
        </ion-chip>
      </ion-label>
    </ion-item>
  </ion-item>

  <ion-item>
    <ion-item routerLink="/cruella">
      <ion-thumbnail slot="start">
        <img
          src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/rRYNGhcAZlTfIUS7iFoF4H9iDbc.jpg"
        />
      </ion-thumbnail>
      <ion-label>
        <h1>Cruella</h1>
        <p>28/05/2021</p>

        <ion-chip color="success">
          <ion-label color="success">Animais</ion-label>
        </ion-chip>

        <ion-chip color="success">
          <ion-label color="success">Comédia</ion-label>
        </ion-chip>

        <ion-chip color="success">
          <ion-label color="success">Crime</ion-label>
        </ion-chip>
      </ion-label>
    </ion-item>
  </ion-item>

</ion-content>
